.container {
    display: flex;
    margin: auto;
    max-width: 420px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 48px;
    background: #fff;
    border-radius: 12px;
    flex-direction: column;
}
