.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    flex: 1;
}

.spinContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
